﻿<div class="row" data-ng-controller="accountCtrl as vm">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
        <form role="form" name="loginForm">
            <h3>Login</h3>
            <div class="form-group">
                <input type="email" name="emailInput" class="form-control" placeholder="Email"
                       data-ng-model="vm.credentials.username"
                       data-required-error-message="email is required"
                       data-validator="required, email" data-valid-method="blur" />
            </div>
            <div class="form-group">
                <input type="password" name="passwordInput" class="form-control" placeholder="Password"
                       data-ng-model="vm.credentials.password"
                       data-validator="required" data-valid-method="blur" />
            </div>
            <button class="btn btn-lg btn-warning btn-block"
                    data-validation-submit="loginForm"
                    type="submit" data-ng-click="vm.login()">
                Login
            </button>
        </form>
    </div>
</div>

