﻿<div class="row" data-ng-controller="accountCtrl as vm">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
        <form name="signupForm" role="form" novalidate>
            <h3>Sign up</h3>
            <div class="form-group" data-show-errors>
                <input type="email" class="form-control" name="username" data-validator="required, email"
                       placeholder="Email" data-ng-model="vm.newAccount.username" data-valid-method="blur" autofocus>
            </div>
            <div class="form-group" data-show-errors>
                <input type="password" class="form-control" name="password" data-validator="required"
                       placeholder="Password" data-ng-model="vm.newAccount.password" data-valid-method="blur">
            </div>
            <div class="form-group" data-show-errors>
                <input type="password" class="form-control" name="confirmPassword" data-validator="required"
                       placeholder="Confirm Password" data-ng-model="vm.newAccount.confirmPassword" data-valid-method="blur">
            </div>
            <button class="btn btn-lg btn-warning btn-block" data-validation-submit="signupForm" type="submit" data-ng-click="vm.signUp()">Submit</button>
        </form>
    </div>
</div>


