﻿
<div class="row" >
    <div class="col-sm-12 col-md-4 col-md-offset-4">
        <form role="form">
            <h3>Change Password</h3>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Re-Enter Password" required>
            </div>
            <button class="btn btn-lg btn-warning btn-block" type="submit">Save</button>
        </form>
    </div>
</div>