﻿<!DOCTYPE html>
<html data-ng-app="advisorsApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Sample Project</title>
    <link href="www/assets/lib/bootswatch/paper/bootstrap.css" rel="stylesheet" />
    <link href="www/assets/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <link href="www/assets/lib/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet"/>

    <link href="www/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- For Development use only, later compile and minify less files on server side -->
    <link href="www/assets/less/site.less" rel="stylesheet/less" type="text/css" />
    <script src="www/assets/lib/less/dist/less.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body ng-class="{ 'poster': vm.showPoster() }" data-ng-controller="indexCtrl as vm">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand">Some Logo</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="vm.isCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="vm.userIdentity.isAuthenticated"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="vm.userIdentity.isAuthenticated"> <a href="#/signup">Sign Up</a></li>
                    <li data-ng-hide="!vm.userIdentity.isAuthenticated"><a href="#/agent/list">Agents</a></li>
                    <li class="profile dropdown" dropdown data-ng-hide="!vm.userIdentity.isAuthenticated">
                        <a class="dropdown-toggle user-menu" dropdown-toggle>
                            <img src="/www/assets/images/mowgli.jpg" alt="">
                            <span>{{vm.userIdentity.username}}</span>
                        </a>
                        <ul class="profile-menu dropdown-menu">
                            <li><a href="#/profile"><i class="dropdown-icon icon-user"></i>&nbsp;&nbsp;Profile</a></li>
                            <li><a href="#/settings"><i class="dropdown-icon icon-cog"></i>&nbsp;&nbsp;Settings</a></li>
                            <li class="divider"></li>
                            <li>
                                <a data-ng-click="vm.logout()"><i class="dropdown-icon icon-lock"></i>&nbsp;&nbsp;Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="mainContent" class="container">
        <div class="container">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</alert>
        </div>
        <div data-ui-view="mainContent"></div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row text-center">
                <ul class="links list-inline">
                    <li><small class="copyright">© 2015 <a href="#">Sample Project</a>, inc. All rights reserved.</small></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="row text-center">
                <ul class="social-icons list-inline">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- lib scripts -->
    <script src="www/assets/lib/lodash/lodash.min.js"></script>
    <script src="www/assets/lib/angular/angular.js"></script>
    <script src="www/assets/lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="www/assets/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="www/assets/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="www/assets/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="www/assets/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="www/assets/lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="www/assets/lib/restangular/dist/restangular.min.js"></script>
    <script src="www/assets/lib/angular-validation/dist/angular-validation.js"></script>
    <script src="www/assets/lib/angular-ui-grid/ui-grid.js"></script>
    <script src="www/assets/lib/angular-confirm/angular-confirm.js"></script>

    <!-- app scripts -->
    <script src="www/app/app.js"></script>
    <script src="www/app/common/angular-validation-rule.js"></script>
    <script src="www/app/common/alert-service.js"></script>
    <script src="www/app/common/editItem-directive.js"></script>
    <script src="www/app/common/deleteItem-directive.js"></script>
    <script src="www/app/routes.js"></script>
    <script src="www/app/authentication/authenticationInterceptor-service.js"></script>
    <script src="www/app/authentication/authentication-service.js"></script>
    <script src="www/app/account/account-ctrl.js"></script>
    <script src="www/app/index-ctrl.js"></script>
    <script src="www/app/agent/agent-module.js"></script>
    <script src="www/app/agent/agentList-ctrl.js"></script>
    <script src="www/app/agent/agent-ctrl.js"></script>
    <script src="www/app/agent/agent-routes.js"></script>
    <script src="www/app/agent/agent-service.js"></script>
    <script src="www/app/account/account-module.js"></script>
    <script src="www/app/account/account-routes.js"></script>
</body>
</html>