﻿<div class="row" data-ng-controller="agentCtrl as vm">
    <div class="col-md-12">
        <form name="addAgentForm" role="form" novalidate>
            <h3><span ng-hide="vm.IsEditMode">Add</span><span ng-show="vm.IsEditMode">Edit</span> Agent</h3>
            <div class="form-group" data-show-errors>
                <input type="text" class="form-control" name="firstName" data-validator="required"
                       placeholder="First Name" data-ng-model="vm.newAgent.firstName" data-valid-method="blur">
            </div>
            <div class="form-group" data-show-errors>
                <input type="text" class="form-control" name="lastName" data-validator="required"
                       placeholder="Last Name" data-ng-model="vm.newAgent.lastName" data-valid-method="blur">
            </div>
            <div class="form-group" data-show-errors>
                <input type="email" class="form-control" name="email" data-validator="required, email"
                       placeholder="Email" data-ng-model="vm.newAgent.email" data-valid-method="blur">
            </div>
            <div class="form-group" data-show-errors>
                <input type="text" class="form-control" name="phone" data-validator="required"
                       placeholder="Phone" data-ng-model="vm.newAgent.phone" data-valid-method="blur">
            </div>
            <button class="btn btn-warning btn-block" data-validation-submit="addAgentForm" type="submit" data-ng-click="vm.saveAgent()">Submit</button>
            <a class="btn btn-primary btn-block" href="#/agent/list">Cancel</a>
        </form>
    </div>
</div>