﻿<div data-ng-controller="agentListCtrl as vm">
    <div><a href="#/agent/add" class="btn btn-default" role="button"><i class="icon-large icon-plus"></i>&nbsp;New Agent</a></div>
    <div id="agentGrid" data-ui-grid="vm.gridOptions" data-external-scopes="vm" class="grid">
    </div>
</div>