﻿<div class="container">
    <div class="text-center">
        <h2>Sample Project</h2>
        <h4 class="text-center">This is a template project with Angularjs, Bootstrap, WebApi, Entity Framework.</h4>
    </div>
</div>
