﻿
//global layout
body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=3.0.1');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.poster {
    background: url(../images/poster.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;

    ul.social-icons {
        padding: 5px;

        li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            //background: #2b3036;
            a {
                &:hover {

                    i {
                        color: #B42402;
                    }
                }

                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                display: inline-block;
                width: 48px;
                height: 48px;
                text-align: center;
                text-decoration: none;
                padding-top: 12px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                margin-right: 8px;
                float: left;

                i {
                    color: #fdbd33;
                    font-size: 26px;
                    text-align: center;
                }
            }
        }
    }
}

#mainContent {
    margin-top: 100px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: #D3D3D5;
}

//Header Menu
.popup-arrow() {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    top: -12px;
    left: 49%;
    margin-left: -18.5px;
    background-image: url("/www/assets/images/popup-arrow.png");
    background-size: 100% 100%;
}

li.profile {
    .user-menu {
        img {
            width: 25px;
            height: 25px;
        }
    }

    .profile-menu {
        a {
            &:hover {
                background-color: #6aceeb;
            }
        }

        &:before {
            .popup-arrow();
        }
    }
}

// Grid
.grid {
    width: 100%;
    height: 250px;
}
